header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navigation-menu {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.login-and-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-bars {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro y semitransparente */
}

.txt-white {
  color: #ffffff; /* Establece el color de las letras a blanco */
}

.navigation-menu a {
  text-decoration: none;
  color: inherit;
}

.navigation-menu a:hover {
  color: #f0f0f0; /* Color para el hover, si lo deseas */
}
